
body {
    background-color: grey;
}

.container {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.game {
    text-align: center;

    display: flex;
    flex-direction: column;
}

.picks {
    display: flex;
    justify-content: center;
}

.picks button {
    font-size: 100px;
    background-color: #ffffff00;
    border: none;
}


